footer {
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    background-color: #f8f9fa;
}

#content-place p{
    text-align: justify;
}

.bg-light {
    background: #eef0f4 !important;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 1rem !important;
}

.choices__list--single {
    padding: 0 !important;
}

.card {
    transform: translateY(-50%) !important;
}

.choices[data-type*=select-one]:after {
    right: 1.5rem !important;
}

.shadow {
    box-shadow: 0.3rem 0.3rem 1rem rgba(178, 200, 244, 0.23) !important;
}

/*a {
    text-decoration: none !important;
    color: inherit !important;
    transition: all 0.3s !important;
}*/

::-webkit-scrollbar {
    width: 5px;
}
/*Track*/
::-webkit-scrollbar-track {
    /*background: #a3a3a3;*/
    background: transparent;
}
/*Handle*/
::-webkit-scrollbar-thumb {
    background: rgb(77 77 77 / 70%);
    border-radius: 1.5em;
    border-right: none;
    border-left: none;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

/*Custom*/
.disabled {
    color: #e9ecef
}

.enabled {
    cursor: pointer;
}

#txtSearch {
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 0px 8px 40px;
    font-size: 16px;
}

.selectAll {
    float: right;
    width: 13em;
    font-size: 12px;
    color: #0d6efd;
    cursor: pointer;
}

/*Confirmation Modal*/
.modal-confirm {
    color: #636363;
    /*width: 40%;*/
}

    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
        text-align: center;
        font-size: 14px;
    }

    .modal-confirm .modal-header {
        border-bottom: none;
        position: relative;
    }

    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -10px;
    }

    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -2px;
    }

    .modal-confirm .modal-body {
        color: #999;
    }

    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
        padding: 10px 15px 25px;
    }

        .modal-confirm .modal-footer a {
            color: #999;
        }

    .modal-confirm .icon-box {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 9;
        text-align: center;
        border: 3px solid #f15e5e;
    }

        .modal-confirm .icon-box i {
            color: #f15e5e;
            font-size: 35px;
            display: inline-block;
            margin-top: 13px;
        }

    .modal-confirm .btn, .modal-confirm .btn:active {
        color: #fff;
        border-radius: 4px;
        background: #60c7c1;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        min-width: 120px;
        border: none;
        min-height: 40px;
        border-radius: 3px;
        margin: 0 5px;
    }

    .modal-confirm .btn-secondary {
        background: #c1c1c1;
    }

        .modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
            background: #a8a8a8;
        }

    .modal-confirm .btn-danger {
        background: #f15e5e;
    }

        .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }

/* Overlay Styling */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998; /* Ensure overlay is below the modal */
  }